@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-pattern {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, #e2e8f0 1px, transparent 1px),
      linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  }
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #f8fafc;
}
